{% extends 'recetas/base.html' %}

{% block title %}Buscar Recetas{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Buscar Recetas</h1>
    <form method="get" action="{% url 'buscar_recetas' %}" class="form-inline justify-content-center mb-4">
        <input type="text" name="q" value="{{ query }}" class="form-control mr-2" placeholder="Buscar por título" />
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>

    <h2>Resultados</h2>
    <div class="row">
        {% for receta in recetas %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    {% if receta.imagen %}
                        <img src="{{ receta.imagen.url }}" class="card-img-top" alt="{{ receta.titulo }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ receta.titulo }}</h5>
                        <p class="card-text">Tiempo: {{ receta.tiempo_preparacion }} minutos</p>
                        <a href="{% url 'detalle_receta' receta.id %}" class="btn btn-primary">Ver Detalles</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p class="text-center">No se encontraron recetas.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
