{% extends 'recetas/base.html' %}

{% block title %}Lista de Recetas{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Recetas Disponibles</h1>
    <div class="row">
        {% for receta in recetas %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    {% if receta.imagen %}
                        <img src="{{ receta.imagen.url }}" class="card-img-top" alt="{{ receta.titulo }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ receta.titulo }}</h5>
                        <p class="card-text">Tiempo: {{ receta.tiempo_preparacion }} minutos</p>
                        <a href="{% url 'detalle_receta' receta.id %}" class="btn btn-primary">Ver Detalles</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p class="text-center">No hay recetas disponibles.</p>
        {% endfor %}
    </div>
</div>

{% endblock %}
